In [1]:
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd


access and mobility rates by college
cross-sectional child income stats by college tier and parent income percentile
cross sectional stats on children's income distribution by college tier
highly selective college stats
Longitudinal Statistics on Children’s Income Distributions by College Tier, Parent Income Ventile, and Cohort
longitudinal_parent_child_income_dist_by_college_and_cohort

In [5]:
innovation = pd.read_csv('innovation_rates_by_college.csv')
innovation.rename(columns={'instnm':'college_name'}, inplace=True)
innovation.head()

,super_opeid,college_name,count,count_pq1,count_pq2,count_pq3,count_pq4,count_pq5,inventor,inventor_pq1,inventor_pq2,inventor_pq3,inventor_pq4,inventor_pq5,top5cit,total_patents,total_cites
0,1,University Of Hawaii And Hawaii Community Coll...,27002,3205,4527,5628,6957,6685,0.001037,0.000312,0.000663,0.000533,0.000719,0.002393,0.000069,22,55
1,4,Coast Community College District,24340,4183,3829,4311,5066,6951,0.001643,0.001195,0.001045,0.001160,0.001382,0.002733,0.000120,76,333
2,13,Kern & North Orange County Community College D...,18765,2521,3091,3564,4410,5179,0.001119,0.001190,0.000000,0.001403,0.000907,0.001738,0.000005,28,22
3,16,San Mateo County Community College District,10936,1253,1658,2187,2513,3325,0.001646,0.002394,0.003619,0.000457,0.001194,0.001504,0.000106,35,2474
4,19,Foothill-Deanza Community College District,16619,2245,2287,2798,3206,6083,0.003189,0.003118,0.000437,0.003574,0.001871,0.004767,0.000183,137,1497

In [15]:
innovation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 423 entries, 0 to 422
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   super_opeid    423 non-null    int64
 1   college_name   423 non-null    object
 2   count          423 non-null    int64
 3   count_pq1      423 non-null    int64
 4   count_pq2      423 non-null    int64
 5   count_pq3      423 non-null    int64
 6   count_pq4      423 non-null    int64
 7   count_pq5      423 non-null    int64
 8   inventor       423 non-null    float64
 9   inventor_pq1   423 non-null    float64
 10  inventor_pq2   423 non-null    float64
 11  inventor_pq3   423 non-null    float64
 12  inventor_pq4   423 non-null    float64
 13  inventor_pq5   423 non-null    float64
 14  top5cit        423 non-null    float64
 15  total_patents  423 non-null    int64
 16  total_cites    423 non-null    int64
dtypes: float64(7), int64(9), object(1)
memory usage: 56.3+ KB

In [4]:
soc_cap = pd.read_csv('social_capital_college.csv')
soc_cap.head()

,college,college_name,zip,county,mean_students_per_cohort,ec_own_ses_college,ec_own_ses_se_college,ec_parent_ses_college,ec_parent_ses_se_college,ec_high_own_ses_college,...,ec_high_parent_ses_se_college,exposure_own_ses_college,exposure_parent_ses_college,bias_own_ses_college,bias_parent_ses_college,bias_high_own_ses_college,bias_high_parent_ses_college,clustering_college,support_ratio_college,volunteering_rate_college
0,100200,Alabama A & M University,35762,1089,943.666667,0.85678,0.02233,0.67629,0.03241,1.12202,...,0.03498,0.84662,0.65090,-0.01200,-0.03900,-0.32529,-0.14036,0.24470,0.99483,0.03256
1,100300,Faulkner University,36109,1101,227.666667,1.30964,0.04869,1.26671,0.05812,1.54639,...,0.05134,1.23776,1.20183,-0.05807,-0.05398,-0.24935,-0.12001,0.40754,0.99481,0.03336
2,100400,University of Montevallo,35115,1117,494.000000,1.42378,0.03040,1.15413,0.03638,1.57365,...,0.03395,1.41664,1.17101,-0.00504,0.01442,-0.11083,-0.05979,0.30921,0.99683,0.09566
3,100500,Alabama State University,36104,1101,NaN,0.77916,0.01937,0.67090,0.03038,1.04811,...,0.03201,0.75162,0.65297,-0.03664,-0.02747,-0.39448,-0.12802,0.23222,0.99485,0.02150
4,100700,Central Alabama Community College,35010,1123,NaN,0.72742,0.03504,0.77238,0.04497,0.98888,...,0.04984,0.76579,0.76786,0.05010,-0.00589,-0.29133,-0.13139,0.34104,0.99271,0.02922

In [16]:
soc_cap.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2586 entries, 0 to 2585
Data columns (total 22 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   college                        2586 non-null   int64
 1   college_name                   2586 non-null   object
 2   zip                            2586 non-null   int64
 3   county                         2586 non-null   int64
 4   mean_students_per_cohort       2097 non-null   float64
 5   ec_own_ses_college             2362 non-null   float64
 6   ec_own_ses_se_college          2362 non-null   float64
 7   ec_parent_ses_college          2192 non-null   float64
 8   ec_parent_ses_se_college       2192 non-null   float64
 9   ec_high_own_ses_college        2362 non-null   float64
 10  ec_high_own_ses_se_college     2362 non-null   float64
 11  ec_high_parent_ses_college     2192 non-null   float64
 12  ec_high_parent_ses_se_college  2192 non-null   float64
 13  exposure_own_ses_college       2362 non-null   float64
 14  exposure_parent_ses_college    2192 non-null   float64
 15  bias_own_ses_college           2362 non-null   float64
 16  bias_parent_ses_college        2192 non-null   float64
 17  bias_high_own_ses_college      2362 non-null   float64
 18  bias_high_parent_ses_college   2192 non-null   float64
 19  clustering_college             2586 non-null   float64
 20  support_ratio_college          2586 non-null   float64
 21  volunteering_rate_college      2585 non-null   float64
dtypes: float64(18), int64(3), object(1)
memory usage: 444.6+ KB

In [17]:
merged_df = pd.merge(soc_cap, innovation, on='college_name', how='outer')
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2791 entries, 0 to 2790
Data columns (total 38 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   college                        2586 non-null   float64
 1   college_name                   2791 non-null   object
 2   zip                            2586 non-null   float64
 3   county                         2586 non-null   float64
 4   mean_students_per_cohort       2097 non-null   float64
 5   ec_own_ses_college             2362 non-null   float64
 6   ec_own_ses_se_college          2362 non-null   float64
 7   ec_parent_ses_college          2192 non-null   float64
 8   ec_parent_ses_se_college       2192 non-null   float64
 9   ec_high_own_ses_college        2362 non-null   float64
 10  ec_high_own_ses_se_college     2362 non-null   float64
 11  ec_high_parent_ses_college     2192 non-null   float64
 12  ec_high_parent_ses_se_college  2192 non-null   float64
 13  exposure_own_ses_college       2362 non-null   float64
 14  exposure_parent_ses_college    2192 non-null   float64
 15  bias_own_ses_college           2362 non-null   float64
 16  bias_parent_ses_college        2192 non-null   float64
 17  bias_high_own_ses_college      2362 non-null   float64
 18  bias_high_parent_ses_college   2192 non-null   float64
 19  clustering_college             2586 non-null   float64
 20  support_ratio_college          2586 non-null   float64
 21  volunteering_rate_college      2585 non-null   float64
 22  super_opeid                    423 non-null    float64
 23  count                          423 non-null    float64
 24  count_pq1                      423 non-null    float64
 25  count_pq2                      423 non-null    float64
 26  count_pq3                      423 non-null    float64
 27  count_pq4                      423 non-null    float64
 28  count_pq5                      423 non-null    float64
 29  inventor                       423 non-null    float64
 30  inventor_pq1                   423 non-null    float64
 31  inventor_pq2                   423 non-null    float64
 32  inventor_pq3                   423 non-null    float64
 33  inventor_pq4                   423 non-null    float64
 34  inventor_pq5                   423 non-null    float64
 35  top5cit                        423 non-null    float64
 36  total_patents                  423 non-null    float64
 37  total_cites                    423 non-null    float64
dtypes: float64(37), object(1)
memory usage: 828.7+ KB

In [19]:
college = pd.read_csv('college_level_characteristics.csv')
college

,super_opeid,name,region,state,fips,cz,czname,cfips,county,zip,...,hisp_share_fall_2000,alien_share_fall_2000,pct_arthuman_2000,pct_business_2000,pct_health_2000,pct_multidisci_2000,pct_publicsocial_2000,pct_stem_2000,pct_socialscience_2000,pct_tradepersonal_2000
0,30955,ASA Institute Of Business & Computer Technology,1,NY,36,19400,New York,36047,Kings,11201,...,0.073324,0.071229,0.000000,6.603774,11.425576,0.000000,0.000000,81.970650,0.000000,0.000000
1,3537,Abilene Christian University,3,TX,48,32501,Abilene,48441,Taylor,79699,...,0.056724,0.039943,10.785619,22.503330,5.059920,9.720373,8.788282,11.318242,31.691078,0.133156
2,1541,Abraham Baldwin Agricultural College,3,GA,13,8503,Valdosta,13277,Tift,31793,...,0.016730,0.013688,0.000000,4.100228,12.072893,47.152618,6.378132,29.612757,0.000000,0.683371
3,7531,Academy Of Art University,4,CA,6,37800,San Francisco,6075,San Francisco,94105,...,0.205893,0.271817,96.091957,0.000000,0.000000,0.000000,0.000000,0.000000,3.908046,0.000000
4,1345,Adams State University,4,CO,8,34805,Alamosa,8003,Alamosa,81101,...,0.275481,0.002404,10.850440,24.046921,0.000000,33.431084,0.000000,13.489737,18.181818,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2458,208,Yosemite Community College District,4,CA,6,37000,Modesto,6099,Stanislaus,95350,...,0.225970,0.003514,4.885993,17.003258,6.905538,38.566772,8.990228,7.361564,5.993486,10.293159
2459,1604,Young Harris College,3,GA,13,1204,Andrews,13281,Towns,30582,...,0.012903,0.014516,8.196721,16.393442,9.836065,52.459015,0.000000,0.000000,13.114754,0.000000
2460,3145,Youngstown State University,2,OH,39,16400,Youngstown,39099,Mahoning,44555,...,0.017327,0.007439,9.700176,19.282776,11.111111,2.763081,10.699589,20.517342,25.808348,0.117578
2461,42,Yuba Community College District,4,CA,6,37300,Chico,6115,Yuba,95901,...,0.226032,0.000971,0.728745,24.372469,15.465587,28.097166,18.704453,3.967611,0.971660,7.692308
2462,8133,Zane State College,2,OH,39,15400,Zanesville,39119,Muskingum,43701,...,0.006322,0.000000,2.397260,38.356163,26.712328,3.082192,10.616438,13.356165,0.000000,5.479452

In [21]:
merged_df2 = pd.merge(merged_df, college, on='super_opeid', how='outer')
merged_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4831 entries, 0 to 4830
Data columns (total 86 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   college                           2586 non-null   float64
 1   college_name                      2791 non-null   object
 2   zip_x                             2586 non-null   float64
 3   county_x                          2586 non-null   float64
 4   mean_students_per_cohort          2097 non-null   float64
 5   ec_own_ses_college                2362 non-null   float64
 6   ec_own_ses_se_college             2362 non-null   float64
 7   ec_parent_ses_college             2192 non-null   float64
 8   ec_parent_ses_se_college          2192 non-null   float64
 9   ec_high_own_ses_college           2362 non-null   float64
 10  ec_high_own_ses_se_college        2362 non-null   float64
 11  ec_high_parent_ses_college        2192 non-null   float64
 12  ec_high_parent_ses_se_college     2192 non-null   float64
 13  exposure_own_ses_college          2362 non-null   float64
 14  exposure_parent_ses_college       2192 non-null   float64
 15  bias_own_ses_college              2362 non-null   float64
 16  bias_parent_ses_college           2192 non-null   float64
 17  bias_high_own_ses_college         2362 non-null   float64
 18  bias_high_parent_ses_college      2192 non-null   float64
 19  clustering_college                2586 non-null   float64
 20  support_ratio_college             2586 non-null   float64
 21  volunteering_rate_college         2585 non-null   float64
 22  super_opeid                       2463 non-null   float64
 23  count                             423 non-null    float64
 24  count_pq1                         423 non-null    float64
 25  count_pq2                         423 non-null    float64
 26  count_pq3                         423 non-null    float64
 27  count_pq4                         423 non-null    float64
 28  count_pq5                         423 non-null    float64
 29  inventor                          423 non-null    float64
 30  inventor_pq1                      423 non-null    float64
 31  inventor_pq2                      423 non-null    float64
 32  inventor_pq3                      423 non-null    float64
 33  inventor_pq4                      423 non-null    float64
 34  inventor_pq5                      423 non-null    float64
 35  top5cit                           423 non-null    float64
 36  total_patents                     423 non-null    float64
 37  total_cites                       423 non-null    float64
 38  name                              2463 non-null   object
 39  region                            2463 non-null   float64
 40  state                             2463 non-null   object
 41  fips                              2463 non-null   float64
 42  cz                                2463 non-null   float64
 43  czname                            2463 non-null   object
 44  cfips                             2463 non-null   float64
 45  county_y                          2449 non-null   object
 46  zip_y                             2463 non-null   float64
 47  tier                              2463 non-null   float64
 48  tier_name                         2463 non-null   object
 49  type                              2463 non-null   float64
 50  iclevel                           2463 non-null   float64
 51  public                            2463 non-null   float64
 52  barrons                           2463 non-null   float64
 53  exp_instr_pc_2000                 2381 non-null   float64
 54  exp_instr_pc_2013                 2455 non-null   float64
 55  multi                             2463 non-null   float64
 56  hbcu                              2463 non-null   float64
 57  flagship                          2463 non-null   float64
 58  ipeds_enrollment_2013             2463 non-null   float64
 59  ipeds_enrollment_2000             2415 non-null   float64
 60  sticker_price_2013                2270 non-null   float64
 61  sticker_price_2000                2160 non-null   float64
 62  grad_rate_150_p_2013              2217 non-null   float64
 63  grad_rate_150_p_2002              2129 non-null   float64
 64  avgfacsal_2013                    2340 non-null   float64
 65  avgfacsal_2001                    2170 non-null   float64
 66  sat_avg_2013                      997 non-null    float64
 67  sat_avg_2001                      846 non-null    float64
 68  scorecard_netprice_2013           2451 non-null   float64
 69  scorecard_rej_rate_2013           1297 non-null   float64
 70  scorecard_median_earnings_2011    2389 non-null   float64
 71  endowment_pc_2000                 744 non-null    float64
 72  exp_instr_2012                    2385 non-null   float64
 73  exp_instr_2000                    2329 non-null   float64
 74  asian_or_pacific_share_fall_2000  2413 non-null   float64
 75  black_share_fall_2000             2413 non-null   float64
 76  hisp_share_fall_2000              2413 non-null   float64
 77  alien_share_fall_2000             2413 non-null   float64
 78  pct_arthuman_2000                 2410 non-null   float64
 79  pct_business_2000                 2410 non-null   float64
 80  pct_health_2000                   2410 non-null   float64
 81  pct_multidisci_2000               2410 non-null   float64
 82  pct_publicsocial_2000             2410 non-null   float64
 83  pct_stem_2000                     2410 non-null   float64
 84  pct_socialscience_2000            2410 non-null   float64
 85  pct_tradepersonal_2000            2410 non-null   float64
dtypes: float64(80), object(6)
memory usage: 3.2+ MB